/* Universal Selector Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Limit page width and center content */
header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

/* Navigation Flexbox */
nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}

/* Heading styling */
h1 {
    border-bottom: 2px solid steelblue;
    padding-bottom: 10px;
}

/* Grid Layout for Main and Aside */
.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-top: 20px;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin-left: 15px;
}

p {
    padding: 0;
}

aside {
    width: 100%;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;
}

aside img {
    width: 100%;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #eee;
    color: #333;
}
